$font-color: rgba(255, 255, 255, 0.9);
$font-green-color: #00ffd5;
$font-orange-color: #ff2f00;
$font-blue-color: #1aa5f6;
$font-white-color: #e6df19;
$font-pink-color: #ff04b5;
$font-name-color: #0dffe5;

$font-gradient-color: linear-gradient(
  90deg,
  #12a9ea 30%,
  rgb(231, 13, 144) 70%
);

$popup-bg: rgba(255, 255, 255, 0.1);
$popup-tabname-bar-bg: rgba(25, 25, 25, 0.7);

$tab-gradient: linear-gradient(
  135deg,
  rgba(45, 45, 45, 1) 0%,
  rgba(62, 58, 58, 1) 50%,
  rgba(106, 100, 100, 1) 100%
);

$tab-gradient-reverse: linear-gradient(
  -45deg,
  rgba(45, 45, 45, 1) 0%,
  rgba(62, 58, 58, 1) 50%,
  rgba(106, 100, 100, 1) 100%
);

@mixin flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

@mixin fontStyle($size, $weight) {
  font-size: $size;
  @if $weight == "bold" {
    font-weight: 500;
  } @else if $weight == "semibold" {
    font-weight: 400;
  } @else if $weight == "reg" {
    font-weight: 300;
  } @else if $weight == "light" {
    font-weight: 200;
  } @else {
      font-weight: 400;
  }
}

@keyframes popupEnter {
   0% {
		transform: scale(0);
		transform-origin: 50% 100%;
	}

	100% {
		transform: scale(1);
		transform-origin: 50% 100%;
	}
}

@keyframes popupExit {
   0% {
		transform: scale(1);
		transform-origin: 50% 100%;
	}

	100% {
		transform: scale(0);
		transform-origin: 50% 100%;
	}
}

@keyframes cardentry {
  0% {
    transform: translateY(20px) scale(0);
    opacity: 0;
  }
  100% {
    transform: translateY(00px) scale(1);
    opacity: 1;
  }
}

@keyframes name {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(00px);
    opacity: 1;
  }
}

@keyframes tabBar {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(00px);
    opacity: 1;
  }
}

@keyframes tabs {
  0% {
    opacity: 0;
    transform: translateX(-60px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes date-time {
  0% {
    transform: translateY(-30px);
    opacity: 0;
  }
  100% {
    transform: translateY(00px);
    opacity: 1;
  }
}

@keyframes quick-links-1 {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(00px);
    opacity: 1;
  }
}

@keyframes quick-links-3 {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(00px);
    opacity: 1;
  }
}

@keyframes quick-links-ai {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(00px);
    opacity: 1;
  }
}

@keyframes letter {
  0% {
    transform: translateX(-100px);
    opacity: 0;
    filter: blur(10px);
  }
  100% {
    transform: translateX(00px);
    opacity: 1;
    filter: blur(0px);
  }

}